.main {
  margin-top: 84px;
  // padding-bottom: 200px;
  min-height: 670px;

  /*
  background-image: url("../img/main-image.png");
  background-size: cover;
  background-position-x: center;
  */

  &__container {
    display: flex;
    min-height: inherit;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    position: fixed;
    width: 100%;
    height: 1400px;
    top: -164px; /* 84px; */
    left: 0;
    z-index: -1;
    
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__up {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFAE2B;

    //padding-top: 180px; /* 120px; */

    /* Animation */
    transform: translate(0, 120%);
    transition: all 0.8s ease 0.3s;
    opacity: 0;

    &._scroll-anim-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1px;

    text-align: center;
    color: #FFFFFF;

    max-width: 870px;
    margin: 0 auto;
    margin-top: 15px;

    /* Animation */
    transform: translate(0, 120%);
    transition: all 0.8s ease 0s;
    opacity: 0;

    &._scroll-anim-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */

    text-transform: uppercase;

    color: #181511;

    margin: 0 auto;
    margin-top: 40px;
    width: 143px;
    height: 50px;
    
    border: 1px solid #FFAE2B;
    background: #FFAE2B;
    transition: 0.5s;

    &:hover {
      background: #181511;
      color: #FFAE2B;
    }

    /* Animation */
    transform: translate(0, 120%);
    transition: all 0.8s ease 0s;
    opacity: 0;

    &._scroll-anim-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

.main__text.ru {
  max-width: unset;
}

@media (max-width: 850px) {
  .main {
    &__img {
      top: -40px;
      height: 1000px;
    }
  }
}

@media (max-width: 650px) {
  .main {
    &__text {
      font-size: 40px;
      line-height: 60px;
    }
  }
}