.templates {
    background: #181511;
}

.templates-header {
    &__top {
        padding-top: 80px;

        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        color: #ACA592;
    }

    &__bottom {
        margin-top: 10px;

        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        
        text-align: center;
        
        color: #FFAE2B;
    }
}

.templates-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
    
}

.templates-item {
    flex: 0 1 31%;
    border: 1px solid #4B4136;
    height: 315px;
    margin-bottom: 25px;

    &__img {
        width: 305px;
        height: 190px;
        filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.6));
        /* border: 1px solid #FFAE2B; */
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    
    /* Animation */
    transform: translate(0, 50%);
    transition: all 0.8s ease 0s;
    opacity: 0;

    &._scroll-anim-active {
      transform: translate(0, 0);
      opacity: 1;
    }
}

@media (max-width: 1000px) {
    .templates-main {
        justify-content: space-evenly;
    }

    .templates-item {
        flex: 0 1 40%;
    }
}

@media (max-width: 850px) {
    /*
    .templates-main {
        display: block;
    }
*/

    .templates-item {
        height: auto;
        padding-bottom: 5vw;

        &__img {
            width: 70vw;
            height: auto;
            padding-bottom: 50%;
            margin-bottom: 5vw;
        }

        &__name {
            font-size: 3vw;
        }
    }
}

@media (max-width: 850px) {
    .templates-header__bottom {
        font-size: 40px;
    }
}