.translate {
    position: fixed;
    bottom: 30px;
    left: 30px;

    width: 220px;
    height: 120px;

    background: rgba(0,0,0,0.5);
    padding: 10px;
    padding-right: 30px;
    font-family: "Old Standard TT";
    opacity: 1;
    transition: 0.5s;
    font-size: 14px;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        cursor: pointer;
    }

    &__text {
        margin-top: 5px;
        color: white;
        line-height: 20px;
    }

    &__buttons {
        display: flex;
        margin-top: 12px;
    }

    &_hide {
        opacity: 0;
        //display: none;
    }
}

.translate-buttons__rus {
    color: white;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: underline;
}

.translate-buttons__eng {
    color: #FFAE2B;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 850px) {
    .translate {
        opacity: 0;
    }
}