@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Old Standard TT"; /* , serif; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

body.lock {
  overflow: hidden;
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */
/* ----------------------------------- */
@font-face {
  font-family: "Old Standard TT";
  src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"), url("../fonts/OldStandardTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #181511;
  overflow: auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 52px;
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
  white-space: nowrap;
  transition: 0.5s;
}
.header__button:hover {
  background: #FFAE2B;
  color: #181511;
}

.header-for-phone {
  display: none;
  background: #181511;
  position: absolute;
  top: 0;
  width: 100%;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 30px;
  box-sizing: border-box;
}
.header-for-phone__logo {
  font-size: 40px;
  line-height: 28px;
  color: #FFAE2B;
}
.header-for-phone__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 52px;
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
  white-space: nowrap;
}

@media (max-width: 850px) {
  .header-for-phone {
    display: flex;
  }
}
.menu__list {
  display: flex;
  height: 100%;
}
.menu__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 40px;
}
.menu__item-logo a {
  font-size: 22px;
  line-height: 28px;
  color: #FFAE2B;
}
.menu__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ACA592;
  transition: 0.3s;
}
.menu__link:hover {
  color: #FFAE2B;
}

@media (max-width: 850px) {
  .close-phone-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: black;
    z-index: 2;
    visibility: hidden;
    transition: 0.5s;
  }
  .close-phone-menu.active {
    visibility: visible;
    opacity: 0.6;
  }
  .header {
    top: -150vw;
    transition: 0.5s;
    padding-top: 0;
    height: 100%;
    background: transparent;
  }
  .header__container {
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #181511;
    padding-top: 10vw;
    padding-bottom: 10vw;
    box-shadow: 0px 12px 27px #181511;
    z-index: 3;
  }
  .header__button {
    margin-top: 5vw;
    width: 37vw;
    height: 13vw;
    font-size: 4vw;
  }
  .header.phone {
    top: 0;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    width: 100%;
    justify-content: center;
    margin-bottom: 5vw;
  }
  .menu__link {
    font-size: 5vw;
  }
  .menu__item-logo {
    margin-bottom: 9vw;
  }
  .menu__item-logo a {
    font-size: 8vw;
  }
  .header__burger {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    background: #FFAE2B;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    padding-top: 3vw;
    box-sizing: border-box;
    z-index: 3;
  }
  .header__burger span, .header__burger:after, .header__burger:before {
    display: block;
    content: "";
    background: #181511;
    width: 6vw;
    height: 1vw;
    margin: 0 auto;
    margin-top: 1.2vw;
    border-radius: 30vw;
  }
}
.main {
  margin-top: 84px;
  padding-bottom: 200px;
  background-image: url("../img/main-image.png");
  background-size: cover;
  background-position-x: center;
}
.main__up {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFAE2B;
  padding-top: 120px;
}
.main__text {
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  /* or 114% */
  letter-spacing: 1px;
  text-align: center;
  color: #FFFFFF;
  max-width: 870px;
  margin: 0 auto;
  margin-top: 15px;
}
.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  /* identical to box height, or 200% */
  text-transform: uppercase;
  color: #181511;
  margin: 0 auto;
  margin-top: 40px;
  width: 143px;
  height: 50px;
  border: 1px solid #FFAE2B;
  background: #FFAE2B;
  transition: 0.5s;
}
.main__button:hover {
  background: #181511;
  color: #FFAE2B;
}

@media (max-width: 850px) {
  /*
  .main {
    margin-top: 0;
  }
  */
}
@media (max-width: 650px) {
  .main__text {
    font-size: 40px;
    line-height: 60px;
  }
}
.templates {
  background: #181511;
}

.templates-header__top {
  padding-top: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ACA592;
}
.templates-header__bottom {
  margin-top: 10px;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #FFAE2B;
}

.templates-main {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 60px;
  gap: 20px;
}

.templates-item {
  flex: 0 1 33.3%;
  border: 1px solid #4B4136;
  height: 315px;
}
.templates-item__img {
  width: 305px;
  height: 190px;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.6));
  /* border: 1px solid #FFAE2B; */
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.templates-item__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.templates-item__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */